/* Variables */
html {
    /* header */
    --header-padding: 10px;
    --header-nav-border-width: 1px;

    /* border-radius */
    --border-radius: var(--header-padding);

    /* width */
    --page-width: min(960px, calc(100% - 60px));

    /* sections */
    --accent-color: #FF4B04;
    --alt-accent-color: #2b5797;
}


@media (prefers-color-scheme: light) {
    html {
        /* Colours */
        --primary-color: #e7e7e7;
        --secondary-color: #dedede;
        --tertiary-color: #cececb;

        /* Text Colours */
        --primary-text-color: black;
        --secondary-text-color: black;
        --tertiary-text-color: black;

        /* header */
        --header-background: #fff;
        --header-text-color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        /* Colours */
        --primary-color: #181818;
        --secondary-color: #212121;
        --tertiary-color: #303134;

        /* Text Colours */
        --primary-text-color: white;
        --secondary-text-color: white;
        --tertiary-text-color: white;

        /* header */
        --header-background: #000;
        --header-text-color: #fff;
    }
}

/* page setup */
html,
body {
    /* sizing */
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;

    margin: 0;

    /* scroll */
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    /* background */
    background: var(--primary-color);
}

*,
*::after,
*::before {
    /* sizing */
    box-sizing: border-box;

    /* text */
    color: var(--primary-text-color);
    font-family: 'Montserrat', sans-serif;
}

svg path {
    /* color */
    color: inherit;
}

/* header */
.navigation-header {
    /* sizing */
    height: 50px;

    /* position */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    /* styling */
    background: var(--header-background);
    color: var(--header-text-color);
}

.header-spacer {
    height: 50px;
}

.navigation-container {
    /* sizing */
    height: 100%;
    width: var(--page-width);
    padding: 0 var(--header-padding);

    /* styling */
    background: inherit;

    /* spacing */
    margin: 0 auto;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    /* sizing */
    padding: var(--header-padding) 0;
}

.navigation-header svg {
    /* sizing */
    height: 100%;

    /* color */
    fill: currentColor;
    color: inherit;
}

.nav-btn {
    /* sizing */
    height: 100%;
    padding: calc(var(--header-padding) - var(--header-nav-border-width));
    aspect-ratio: 1/1;

    /* display */
    display: none;

    /* styling */
    color: var(--header-text-color);
    fill: currentColor;
    border: var(--header-nav-border-width) var(--header-background) solid;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* nav button hover states */
.nav-btn:hover {
    border: var(--header-nav-border-width) var(--header-text-color) solid;
}

.nav-btn:active {
    background-color: var(--header-text-color);
    color: var(--header-background);
    border: var(--header-nav-border-width) currentColor solid;
}

.nav-btn.open {
    background-color: var(--header-text-color);
    color: var(--header-background);
}

.nav-container {
    /* sizing */
    height: 100%;
    padding: 0;

    /* flex */
    display: flex;
    align-items: end;
}

.nav-list {
    /* sizing */
    height: 100%;

    /* list */
    list-style: none;

    /* spacing */
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    /* position */
    position: relative;

    /* text */
    font-size: 16px;

    /* sizing */
    height: 100%;
    padding: var(--header-padding) 0;

    /* styling */
    /* border-left: var(--header-nav-border-width) solid var(--header-text-color);
    border-right: var(--header-nav-border-width) var(--header-text-color) solid !important; */
}

/* nav item hover states */
.nav-item:hover {
    /* border: var(--header-nav-border-width) var(--header-text-color) solid; */
}

.nav-item:active {
    background-color: var(--header-text-color);
    color: var(--header-background);
    /* border: var(--header-nav-border-width) currentColor solid; */
}

.nav-item.open {
    background-color: var(--header-text-color);
    color: var(--header-background);
}

.nav-link {
    /* text */
    text-decoration: none;
    color: inherit;
    text-align: center;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizing */
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.hover-indicator {
    /* position */
    position: absolute;
    bottom: 0;
    left: 10%;

    /* sizing */
    width: 80%;
    height: 3px;

    /* styling */
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--primary-text-color);

    /* animation */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.nav-item:hover .hover-indicator {
    transform: scaleX(1);
    transform-origin: left;
}


@media only screen and (max-width: 650px) {
    html {
        /* scroll */
        scroll-padding-top: 90px;

        /* width */
        --page-width: min(960px, calc(100% - 30px));
    }

    .nav-btn {
        /* display */
        display: flex;
    }

    .nav-container {
        /* position */
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        /* sizing */
        min-height: 40px;
        height: fit-content;
        width: 100%;
        padding: 0;

        /* styling */
        background: inherit;

        /* animation */
        transform: translateY(0);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .nav-container.hidden {
        transform: translateY(50px);
        opacity: 1;
    }

    .nav-list {
        /* sizing */
        width: var(--page-width);

        margin: 0 auto;

        /* styling */
        border-right: 0;

        /* flex */
        justify-content: left;
    }

    .nav-item {
        /* styling */
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
}

@media only screen and (max-width: 699px) {
    .youtube-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    }

    youtube-item {
        width: 100% !important;
    }
}

@media only screen and (max-width: 800px) {
    .youtube-account-link {
        width: 100% !important;
    }
}

/* footer */
footer {
    /* sizing */
    padding: calc(var(--header-padding) * 2) calc(var(--header-padding) * 4);

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: calc(var(--header-padding) * 2);

    /* styling */
    background: var(--header-background);
    color: var(--header-text-color);
    fill: currentColor;
}

.footer-container {
    /* sizing */
    width: 282px;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--header-padding);
}

.footer-divider {
    /* sizing */
    height: var(--header-nav-border-width);

    /* styling */
    background-color: var(--primary-text-color);
}

.footer-logo {}

.footer-heading,
.footer-text {
    margin: 0 !important;
}

.socials {
    /* flex */
    display: flex;
    gap: var(--header-padding);
}

.social {
    /* sizing */
    width: 50px;
    height: 50px;
    padding: var(--header-padding);

    /* styling */
    fill: currentColor;
    color: inherit;
    border-radius: var(--border-radius);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* animation */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social:hover,
.social:focus,
.social:focus-visible {
    background-color: var(--social-background);
}

.social:active {
    fill: var(--social-background);
    background-color: var(--primary-text-color);
}

.social svg {
    max-width: 100%;
    max-height: 100%;
}

/* sections */
section {
    margin-bottom: 100px;
}

.container {
    /* sizing */
    width: var(--page-width);
    margin: 0 auto;

    /* position */
    position: relative;
}

.accent-bar {
    /* sizing */
    width: 100%;
    height: 10px;

    /* styling */
    background: var(--accent-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.accent-bar.small {
    /* sizing */
    height: 5px;

    /* styling */
    border-radius: var(--border-radius);
}

h1 {
    /* spacing */
    margin: calc(var(--header-padding) / 2) var(--header-padding);
}

p {
    /* spacing */
    margin: calc(var(--header-padding) / 2) var(--header-padding);

    /* text */
    white-space: pre-line;
}

iframe {
    /* sizing */
    width: calc(100% - (var(--header-padding) * 2));
    aspect-ratio: 16/9;

    /* spacing */
    margin: calc(var(--header-padding) / 2) var(--header-padding);
    border-radius: var(--border-radius);
}

p.address-info,
p.contact-info {
    /* text */
    font-size: 15px;
    font-weight: 300;
}

/* table */
.side-by-side {
    /* flex */
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 850px) {
    .side-by-side {
        /* flex */
        flex-wrap: wrap;
    }

    .table {
        /* sizing */
        width: 100%;
    }

    .table-cell {
        /* sizing */
        width: 50% !important;
    }
}

.table {
    /* flex */
    display: flex;
    flex-direction: column;

    /* spacing */
    margin: calc(var(--header-padding) / 2) var(--header-padding);

    /* styling */
    background-color: var(--header-background);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.table-line {
    /* flex */
    display: flex;
    flex-direction: row;
}

.table-cell {
    /* sizing */
    width: 180px;
    padding: calc(var(--header-padding) / 2) var(--header-padding);

    /* styling */
    background-color: var(--primary-color);
}

.table-line.header .table-cell,
.table-cell:first-child {
    background-color: var(--header-background);
}

.table-line#line1,
.table-line#line4 {
    /* styling */
    background-color: var(--primary-color);
}

.table-cell#cell2 {
    /* styling */
    border-bottom-right-radius: var(--border-radius);
}

.table-cell#cell4 {
    /* styling */
    border-top-left-radius: var(--border-radius);
}

.table-cell#cell9 {
    /* styling */
    border-bottom-right-radius: var(--border-radius);
}

/* gallery & lightbox */
.gallery {
    /* grid */
    display: grid;
    
}

.gallery-item {
    /* sizing */
    aspect-ratio: 1/1;
}

.gallery-item img {
    /* sizing */
    width: 100%;
    height: 100%;
}

/* youtube */
.youtube-account-link {
    /* position */
    position: relative;

    /* sizing */
    width: min(300px, 100%);
    height: 40px;
    padding: var(--header-padding);
    margin: calc(var(--header-padding) / 2) var(--header-padding);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    fill: currentColor;
    color: var(--primary-text-color);
    background-color: var(--header-background);
    border-radius: var(--border-radius);

    /* text */
    text-decoration: none;
    font-weight: 600;

    /* transition */
    transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
}

.youtube-account-link svg {
    /* position */
    position: absolute;
    top: var(--header-padding);
    left: var(--header-padding);

    /* sizing */
    height: calc(100% - (var(--header-padding) * 2));
}

.youtube-account-link:hover,
.youtube-account-link:focus,
.youtube-account-link:focus-visible {
    background-color: #FF4B04;
}

.youtube-account-link:active {
    background-color: var(--primary-text-color);
    color: #FF4B04;
    fill: #FF4B04;
}

.youtube-container {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: calc(var(--header-padding) * 2);

    /* spacing */
    margin: calc(var(--header-padding) / 2) var(--header-padding);
}

.youtube-item {
    /* sizing */
    width: min(300px, 100%);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-padding) / 2);
}

.youtube-image,
.youtube-link {
    /* display */
    display: block;

    /* sizing */
    width: 100%;
    aspect-ratio: 16/9;

    /* image */
    object-fit: cover;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.youtube-link {
    /* position */
    position: relative;
}

.youtube-link-icon {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* sizing */
    width: 15%;

    /* color */
    fill: white;

    /* animation */
    transition: fill 0.5s ease-in-out;
}

.youtube-hover {
    /* position */
    position: absolute;
    top: 0;
    left: 0;

    /* sizing */
    width: 100%;
    height: 100%;

    /* animation */
    transition: background-color 0.5s ease-in-out;
}

.youtube-open-in {
    /* position */
    position: absolute;
    top: var(--header-padding);

    /* sizing */
    margin: 0;
    width: 100%;

    /* text */
    text-align: center;
    font-size: 12px;

    /* color */
    color: transparent;

    /* animation */
    transition: color 0.5s ease-in-out;
}

.youtube-open-in-new-tab {
    /* position */
    position: absolute;
    top: var(--header-padding);
    right: var(--header-padding);

    /* sizing */
    width: 5%;

    /* color */
    fill: transparent;

    /* animation */
    transition: fill 0.5s ease-in-out;
}

.youtube-link:hover .youtube-hover,
.youtube-link:focus .youtube-hover,
.youtube-link:focus-visible .youtube-hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.youtube-link:hover .youtube-link-icon,
.youtube-link:focus .youtube-link-icon,
.youtube-link:focus-visible .youtube-link-icon {
    fill: #FF4B04;
}

.youtube-link:hover .youtube-open-in,
.youtube-link:focus .youtube-open-in,
.youtube-link:focus-visible .youtube-open-in {
    color: white;
}

.youtube-link:hover .youtube-open-in-new-tab,
.youtube-link:focus .youtube-open-in-new-tab,
.youtube-link:focus-visible .youtube-open-in-new-tab {
    fill: white;
}

.youtube-link:active .youtube-link-icon {
    fill: white;
    transition-duration: 0.1s;
}

.youtube-info {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-padding) / 2);
}

.youtube-title {
    /* spacing */
    margin: 0;

    /* text */
    line-height: 1.1;
    font-size: 18px;
    font-weight: 700;
}

.youtube-date {
    /* spacing */
    margin: 0;

    /* text */
    line-height: 1.1;
    font-size: 16px;
    font-weight: 600;
}

.youtube-description {
    /* truncating */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* spacing */
    margin: 0;

    /* text */
    line-height: 1.1;
    font-size: 14px;
    white-space: pre-line;
}